@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular"), url(inter-v12-latin-regular.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: local("Inter Medium"), local("Inter-Medium"), url(inter-v12-latin-500.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: local("Inter Bold"), local("Inter-Bold"), url(inter-v12-latin-700.woff2) format("woff2")
}

:root {
  --sans: "Inter", sans-serif, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, monospace;
  --radius: 6px
}

[data-theme=dark] {
  --checkbox-color: #ededed;
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #444;
  --accents-4: #666;
  --accents-5: #888;
  --accents-6: #999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --background: #000;
  --foreground: #fff;
  --selection: #f81ce5;
  --border: #333;
  --error: #e00;
  --success: #0070f3;
  --link: #3291ff;
  --ds-mg-500: #eaeaea;
  --ds-mg-600: #d8226b;
  --ds-gray-100: #1a1a1a;
  --ds-gray-200: #1f1f1f;
  --ds-gray-300: #292929;
  --ds-gray-400: #2e2e2e;
  --ds-gray-500: #454545;
  --ds-gray-600: #878787;
  --ds-gray-700: #8f8f8f;
  --ds-gray-800: #7d7d7d;
  --ds-gray-900: #a1a1a1;
  --ds-gray-1000: #ededed;
  --ds-blue-100: #0f1c2e;
  --ds-blue-900: #52a8ff;
  --ds-background-100: #0a0a0a;
  --ds-background-200: #000;
  --grad-vert-1: linear-gradient(0deg, hsla(0, 0%, 100%, .05), hsla(0, 0%, 100%, .05)), radial-gradient(50% 50% at 50% 100%, hsla(0, 0%, 100%, .1) 0, hsla(0, 0%, 100%, 0) 100%);
}

.template-center {
  align-items: center;
  display: flex;
  justify-content: center
}

*,
:after,
:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision
}

html {
  font-size: 18px
}

body,
html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--sans)
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0 10px;
  position: relative;
  text-rendering: optimizeLegibility
}

input,
span,
textarea {
  color: inherit;
  font-size: inherit
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
  margin: 0
}

input:focus,
textarea:focus {
  outline: none
}

button {
  background: var(--background);
  border: none;
  color: var(--foreground);
  cursor: pointer;
  margin: 0;
  padding: 0
}

::-moz-selection {
  background-color: var(--selection);
  color: var(--foreground)
}

::selection {
  background-color: var(--selection);
  color: var(--foreground)
}

.header {
  align-items: center;
  font-size: .85rem;
  height: 60px;
  justify-content: space-between;
  position: relative
}

.col-1,
.col-2,
.header {
  display: flex;
  width: 100%
}

.col-1,
.col-2 {
  height: 100%;
}

.col-1 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.col-2 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-right: 10px
}

.float-copy,
.float-reset,
.output-svg,
.run-btn {
  align-items: center;
  display: flex;
  justify-content: center
}

.float-copy,
.float-reset,
.run-btn,
.run-options {
  height: 34px
}

.run-options-title:last-child span svg {
  margin-left: 8px
}

.options-open .run-options-title:last-child span svg {
  transform: rotate(180deg)
}

.app-title {
  color: var(--ds-mg-500);
  font-size: .8rem;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  transform: scaleY(.9);
  white-space: nowrap;
  padding-left: 8px;
  font-weight: 500;
  padding-bottom: 16px;
}

.options-aside {
  background: rgba(0, 0, 0, .9);
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .145), 0 1px 1px rgba(0, 0, 0, .02), 0 8px 16px -4px rgba(0, 0, 0, .04), 0 24px 32px -8px rgba(0, 0, 0, .06);
  display: flex;
  flex-direction: column;
  font-size: .825rem;
  height: 220px;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 62px;
  width: 300px;
  z-index: 9999
}

.disable-modal,
.options-aside {
  transition: opacity .2s ease-in-out
}

.disable-modal {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: -1
}

.options-aside-title {
  color: var(--ds-gray-600);
  font-size: .75rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.options span:not(:first-child) {
  margin-left: 2px;
  margin-right: 5px
}

.option {
  align-items: center;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  height: 34px;
  margin: 4px 4px 0
}

.option:hover {
  background: var(--accents-1)
}

.option label {
  align-items: center;
  color: var(--accents-6);
  cursor: pointer;
  display: flex;
  font-size: .8rem;
  font-weight: 500;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%
}

.custom-checkbox {
  cursor: pointer;
  opacity: 0;
  position: absolute
}

.checkmark {
  border: 1px solid var(--accents-5);
  border-radius: 2px;
  color: var(--accents-1);
  display: inline-block;
  height: 1rem;
  margin: 0 5px;
  overflow: hidden;
  width: 1rem
}

.checkmark-svg {
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  visibility: hidden;
  width: 100%
}

.custom-checkbox:checked ~ .checkmark .checkmark-svg {
  background: var(--accents-6);
  visibility: visible
}

.run-btn {
  max-width: 100px;
  min-width: 80px;
  background: var(--grad-vert-1);
  margin: 0;
  padding: 0;
  width: 16%;
}

.run-btn,
.run-options {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  color: var(--accents-7);
  cursor: pointer;
  font-size: .8rem;
}

.run-options {
  border: none;
  width: fit-content;
  padding: 0 16px;
}

.run-options,
.run-options-title {
  align-items: center;
  display: flex;
  justify-content: center
}

.run-options-title {
  height: 100%;
  width: 100%
}

.run-btn:hover,
.run-options:hover {
  background: var(--accents-1)
}

.float-btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.float-copy,
.float-reset {
  align-items: center;
  border: 1px solid var(--accents-2);
  background: var(--ds-background-100);
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  width: 38px
}

.float-copy:hover,
.float-reset:hover {
  background: var(--accents-1)
}

.checkmark:active,
.float-copy:active,
.float-reset:active,
.run-btn:active {
  background: var(--ds-gray-200)
}

.float-copy svg,
.float-reset svg {
  stroke: var(--accents-7);
  height: 17px !important;
  width: 17px !important
}

.output-svg {
  background: rgba(0, 0, 0, .9);
  border-radius: var(--radius);
  bottom: 4px;
  height: 80px;
  position: absolute;
  right: 20px;
  transition: background .2s ease-in-out;
  width: 80px;
  z-index: 9999
}

.output-svg:hover {
  background: var(--ds-background-100);
  border: 1px solid var(--border)
}

.output-svg svg {
  height: 50px;
  width: 50px
}

.container-2 {
  -moz-column-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 75px)
}

.display-wrapper,
.textarea-wrapper {
  border-radius: var(--radius);
  font-size: 100%;
  margin: 0 auto;
  padding: 40px 0 4px 10px;
  position: relative;
  width: 100%
}

.textarea-wrapper {
  background: var(--ds-background-100);
  border: 1px solid var(--border);
  height: 100%;
  padding-right: 4px
}

.display-wrapper {
  background: hsla(0, 0%, 9%, .1);
  border: 1px solid var(--accents-1);
  height: 100%;
  margin-top: auto;
  overflow: scroll
}

.display-wrapper:before,
.textarea-wrapper:before {
  color: var(--ds-gray-900);
  content: attr(data-title);
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  left: 0;
  margin: 0 auto;
  padding-left: 12px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%
}

.display,
.textarea {
  border: none;
  box-shadow: none;
  color: var(--accents-7);
  font-size: .875rem;
  height: 100%;
  margin: 0 auto;
  outline: none;
  resize: none;
  width: 100%
}

.textarea {
  background: var(--ds-background-100);
  color: var(--accents-6);
  font-family: monospace
}

.display {
  background: transparent;
  font-size: .875rem;
  height: 100%;
  left: 10px;
  line-height: 1.5;
  overflow-wrap: break-word;
  position: absolute;
  top: 40px;
  width: calc(100% - 20px)
}

.display-wrapper::-webkit-scrollbar,
.textarea::-webkit-scrollbar {
  height: 10px;
  width: 10px
}

.display-wrapper::-webkit-scrollbar-thumb,
.textarea::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: var(--radius);
  min-height: 50px
}

.display-wrapper:hover::-webkit-scrollbar-thumb,
.textarea:hover::-webkit-scrollbar-thumb {
  background: inherit;
  background: var(--accents-6)
}

.display-wrapper::-webkit-scrollbar,
.display-wrapper::-webkit-scrollbar-corner,
.display-wrapper::-webkit-scrollbar-track,
.textarea::-webkit-scrollbar-corner {
  background: var(--background)
}

.textarea::-webkit-scrollbar,
.textarea::-webkit-scrollbar-track {
  background: var(--ds-background-100)
}

@media screen and (max-width:640px) {
  body {
    padding: 0
  }

  .header {
    height: 50px;
    padding-left: 8px;
  }

  .display-wrapper:before,
  .textarea-wrapper:before {
    height: 50px;
    line-height: 50px;
  }

  .app-title {
    font-size: .75rem;
    white-space: normal
  }

  .col-2 {
    justify-content: flex-end
  }

  .float-copy,
  .float-reset,
  .run-btn,
  .run-options {
    font-size: .75rem;
    height: 32px
  }

  .run-options {
    padding: 0 8px;
  }

  .float-copy,
  .float-reset {
    width: 36px
  }

  .float-copy svg,
  .float-reset svg {
    height: 16px !important;
    width: 16px !important
  }

  .display-wrapper {
    height: 100%
  }

  .display-wrapper,
  .textarea-wrapper {
    border: none;
    margin-top: 0;
    padding-bottom: 0
  }

  .textarea-wrapper {
    background-image: linear-gradient(var(--background), var(--ds-background-100)), linear-gradient(200deg, var(--ds-blue-100) 0, var(--ds-gray-400) 10%, rgba(121, 40, 202, 0) 90%);
    padding-top: 40px
  }

  .textarea {
    background: transparent;
    padding-top: 10px
  }

  .display,
  .textarea {
    font-size: .825rem
  }

  .textarea-wrapper:after {
    background: linear-gradient(90deg, transparent, var(--accents-4) 10%, var(--accents-4) 80%, transparent);
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9999
  }

  .container-2 {
    -moz-column-gap: 0;
    column-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 50px);
    row-gap: 0
  }
}

@media screen and (max-width: 480px) {
  .template-center-title {
    display: none;
  }

  .run-btn {
    max-width: 80px;
    min-width: 60px;
  }
}